<!DOCTYPE html>
<html>
  <body style="background-color: '{{ color }}'; font-family: '{{ font }}';">
    <h1>{{ name }} - Engineering</h1>
    <p>{{ desc }}</p>
    <a href="/">Back</a>
  </body>
</html>
